@import "settings";
@import "foundation";
#browse-pets {
    .adoptable-pet {
        .pet-image-wrap {
            position: relative;
            overflow: hidden;
            height: 180px;
            .pet-image {
                min-height: 180px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .pet-heart {
            color: lightgray;
            padding-top: 3px;
            &:hover {
                cursor: pointer;
                color: pink;
            }
        }
    }
}