@import "settings";
@import "foundation";
#search-results {
    .adoptable-pet {
        .pet-image-wrap {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 160px;
            background: #eee;
        }
        .pet-image {
            min-width: 186px;
            min-height: 160px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .pet-heart {
        color: lightgray;
        padding-top: 3px;
        &:hover {
            cursor: pointer;
            color: pink;
        }
    }
}