@import "settings";
@import "foundation";
body {
    letter-spacing: 0.06em;
}
#animalFilter {
    background-color: $yellow;
    #filterLabelSmall {
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $brown;
        padding: 15px 0;
        letter-spacing: 0.1em;
    }
    #filterLabel {
        display: inline-block;
        background-color: $brown;
        padding: 15px 20px 15px 20px;
        padding-left: 300px;
        font-size: 0.9rem;
        letter-spacing: 0.2em;
        left: 0;
        margin-left: -285px;
        position: absolute;
        span {
            color: white;
            font-weight: 700;
        }
    }
    .sub-nav {
        margin-left: 226px;
        margin-bottom: 0;
        padding-top: 0;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        @media #{$small-only} {
            margin-left: 0px;
        }
        dd {
            margin-left: 0;
            margin-right: 0;
            padding: 15px 0;
            &.active {
                background-color: $primary-color;
                margin-right: 0;
                a {
                    background-color: transparent;
                }
                &:hover {
                    background-color: darken($primary-color, 5%);
                    a {
                        background-color: transparent;
                    }
                }
            }
            &:hover {
                background-color: $primary-color;
            }
        }
    }
}

#refineFilter {
    background: $tan;
    padding-top: 15px;
    .button {
        margin: 0;
        line-height: 4px;
        @media #{$small-only} {
            line-height: 8px;
        }
    }
    @media #{$small-only} {
        padding-bottom: 15px;
    }
}

#browse-pets {
    h3 {
        text-transform: capitalize;
        margin: 20px 0;
    }
}
.btn-like {
    font-size: 1.2rem;
    padding-top: 5px;
    color: $primary-color;
    &:hover {
        color: darken($primary-color, 5%);
        cursor: pointer;
    }
}
#pets-list {
    .adoptable-pet {
        .image-wrap {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 180px;
            background: url('img/cat.jpeg') #eee center center;
            .image {
                min-width: 186px;
                min-height: 180px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .name {
            padding-top: 5px;
            a {
                color: $body-font-color;
                font-family: $font-family-serif;
                font-size: 1.1rem;
                &:hover {
                    color: $primary-color;
                }
            }
            .breed {
                margin-bottom: 0.5rem;
                margin-top: -3px;
            }
        }
    }
}
#banner {
    background: $yellow;
    padding: 15px 0;
    margin-bottom: 30px;
    .name {
        color: white;
        font-size: 2.5rem;
    }
    .btn-like {
        font-size: 2rem;
        margin-top: 10px;
    }
}
footer {
    border-top: 2px dashed $primary-color;
    padding: 10px 0;
    margin-top: 50px;
    .inline-list {
        margin-bottom: 0;
    }
}

