<div ng-controller="SearchController">
    <div id="animalFilter" class="row">
        <dl class="sub-nav">
            <dt>Find a pet to adopt</dt>
            <dd class="active"><a href="#">All</a>
            </dd>
            <dd><a href="#">Dogs</a>
            </dd>
            <dd><a href="#">Cats</a>
            </dd>
            <dd><a href="#">Rabbits</a>
            </dd>
            <dd><a href="#">Pigs</a>
            </dd>
            <dd><a href="#">Barnyards</a>
            </dd>
        </dl>
    </div>
    <h1>{{ hello }}</h1>
</div>