<div class="pet-profile" ng-controller="PetController">
    <section id="banner">
        <div class="row">
            <div class="small-11 columns">
                <h2 class="name">{{ pet.name }}</h2>
                <h5 class="breed">{{ pet.breed }}</h5>
            </div>
            <div class="small-1 columns">
                <span ng-if="!pet.isFavorite" ng-click="addToFavorites(pet)" class="btn-like right icon_heart_alt"></span>
                <span ng-if="pet.isFavorite" ng-click="removeFromFavorites(pet)" class="-btn-like right icon_heart"></span>
            </div>
        </div>
    </section>
    <section id="info">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <div class="image-wrap">
                    <img class="image" ng-src="{{ pet.image }}" />
                </div>
            </div>
            <div class="small-12 medium-6 columns">
                <dl>
                    <dt>Gender</dt>
                    <dd>{{pet.sex}}</dd>
                    <dt>Age</dt>
                    <dd>{{pet.age}}</dd>
                    <dt>About {{ pet.name }} </dt>
                    <dd>
                        <p class="bio">{{pet.description}}</p>
                    </dd>
                </dl>
                <a class="button btn-adopt">Adopt Me</a>


            </div>
        </div>

    </section>
</div>