<div ng-controller="SearchController">
    <div id="animalFilter" class="row">
        <div class="small-12 columns show-for-small-only text-center">
            <h4 id="filterLabel">Find a pet to adopt</h4>
        </div>
        <div class="small-12 columns">
            <dl class="sub-nav">
                <dt class="hide-for-small-only">Find a pet to adopt</dt>
                <dd class="active"><a ng-click="query.animal = 'all'">All</a>
                </dd>
                <dd><a ng-click="query.animal = 'dog'">Dogs</a>
                </dd>
                <dd><a ng-click="query.animal = 'cat'">Cats</a>
                </dd>
                <dd><a ng-click="query.animal = 'rabbit'">Rabbits</a>
                </dd>
                <dd><a ng-click="query.animal = 'pig'">Pigs</a>
                </dd>
                <dd><a ng-click="query.animal = 'barnyard'">Barnyards</a>
                </dd>
            </dl>
        </div>
    </div>

    <div id="refineFilter" class="row">
        <div class="small-12 medium-2 large-3 columns">
            <input ng-model="query.location" type="text" placeholder="Location" />
        </div>
        <div class="small-12 medium-3 large-3 columns">
            <select ng-model="query.breed" id="breed">
                <option value="">Breed</option>
                <option value="chow-chow">Chow Chow</option>
                <option value="golden-retriever">Golden Retriever</option>
                <option value="english-bulldog">English Bulldog</option>
            </select>
        </div>
        <div class="small-6 medium-2 large-2 columns">
            <select ng-model="query.age" id="age">
                <option value="">Age</option>
                <option value="baby">Baby</option>
                <option value="young">Young</option>
                <option value="adult">Adult</option>
                <option value="senior">Senior</option>
            </select>
        </div>
        <div class="small-6 medium-2 large-2 columns">
            <select ng-model="query.gender" id="gender">
                <option value="">Gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
        </div>
        <div class="small-12 medium-3 large-2 columns">
            <a ng-click="search(query)" class="button expand">Find a Pet</a>
        </div>
    </div>

    <!--    List of pet search results-->
    <div class="row">
        <div class="small-12 columns">
            <h2>Browse Pets</h2>
        </div>
    </div>
    <div id="browse-pets" class="row">
        <div class="small-12 columns">
            <ul id="search-results" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
                <li class="adoptable-pet" ng-repeat="pet in petList">


                    <div class="pet-image-wrap">
                        <!--                        <img class="pet-image" src="{{ pet.media.photo[2] }}" />-->
                    </div>

                    <div class="pet-name">
                        <a href="#/pet/{{pet.id}}">{{ pet.name }}</a>
                        <span ng-click="addToFavorites(pet)" class="pet-heart right icon_heart"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>