<div id="search" ng-controller="SearchController">
    <section id="animalFilter">
        <div id="filterLabelSmall" class="show-for-small-only">
            <div class="row">
                <div class="small-12 columns text-center">
                    <span>Find a pet to adopt</span>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="small-12 columns">
                <dl class="sub-nav">
                    <div id="filterLabel" class="filterLabel hide-for-small-only"><span>Find a pet to adopt</span>
                    </div>
                    <dd class="active"><a ng-click="query.animal = 'all'; getBreeds('dog')">&nbsp;All&nbsp;</a>
                    </dd>
                    <dd><a ng-click="query.animal = 'dog'; getBreeds('dog')">Dogs</a>
                    </dd>
                    <dd><a ng-click="query.animal = 'cat'; getBreeds('cat')">Cats</a>
                    </dd>
                    <dd><a ng-click="query.animal = 'rabbit'; getBreeds('rabbit')">Rabbits</a>
                    </dd>
                    <dd><a ng-click="query.animal = 'pig'; getBreeds('pig')">Pigs</a>
                    </dd>
                    <dd><a ng-click="query.animal = 'barnyard'; getBreeds('barnyard')">Barnyards</a>
                    </dd>
                </dl>
            </div>
        </div>
    </section>

    <section id="refineFilter">
        <div class="row">
            <div class="small-12 medium-2 large-3 columns">
                <input ng-model="query.location" type="text" placeholder="Location" />
            </div>
            <div class="small-12 medium-3 large-3 columns">
                <select ng-model="query.breed" id="breed">
                    <option value="">Breed</option>
                    <option ng-repeat="breed in breedList" value="{{breed}}">{{breed}}</option>
                </select>
            </div>
            <div class="small-6 medium-2 large-2 columns">
                <select ng-model="query.age" id="age">
                    <option value="">Age</option>
                    <option value="baby">Baby</option>
                    <option value="young">Young</option>
                    <option value="adult">Adult</option>
                    <option value="senior">Senior</option>
                </select>
            </div>
            <div class="small-6 medium-2 large-2 columns">
                <select ng-model="query.gender" id="gender">
                    <option value="">Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
            <div class="small-12 medium-3 large-2 columns">
                <a ng-click="search(query)" class="button expand">Find a Pet</a>
            </div>
        </div>
    </section>

    <!--    List of pet search results-->
    <section id="browse-pets">
        <div class="row" ng-show="petList.length > 0">
            <div class="small-12 columns">
                <h3>{{ searchTitle }}</h3>
                <ul id="pets-list" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
                    <li class="adoptable-pet" ng-repeat="pet in petList">
                        <a href="#/pet/{{pet.id}}">
                            <div class="image-wrap" style="background: #eee url('{{pet.image}}') center center;">&nbsp;</div>
                        </a>


                        <div class="name">
                            <a href="#/pet/{{pet.id}}">{{ pet.name }}</a>
                            <span ng-if="!pet.isFavorite" ng-click="addToFavorites(pet)" class="btn-like right icon_heart_alt"></span>
                            <span ng-if="pet.isFavorite" ng-click="removeFromFavorites(pet)" class="btn-like right icon_heart"></span>
                            <p class="breed">{{pet.breed}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>