<div ng-controller="SearchController">
    <div class="row">
        <div class="small-12 columns">
            <h2>{{hello}}</h2>
        </div>
    </div>
    <div id="browse-pets" class="row">
        <div class="small-12 columns">
            <ul id="search-results" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
                <li class="adoptable-pet" ng-repeat="pet in petList">


                    <div class="pet-image-wrap">
                        <img class="pet-image" src="{{ img }}" />
                    </div>

                    <div class="pet-name">{{ pet.name }}
                        <span class="pet-heart right icon_heart"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>