<div class="user-profile" ng-controller="ProfileController">
    <section id="banner">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="name">{{ currentUser.username }}</h2>
            </div>
        </div>
    </section>
    <section id="favorites">
        <div class="row" ng-show="favorites.length > 0">
            <div class="small-12 columns">
                <h3>Favorite Pets</h3>

                <ul id="pets-list" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
                    <li class="adoptable-pet" ng-repeat="pet in favorites">
                        <a href="#/pet/{{pet.id}}">
                            <div class="image-wrap" style="background: #eee url('{{pet.image}}') center center;">&nbsp;</div>
                        </a>
                        <div class="name">
                            <a href="#/pet/{{pet.id}}">{{ pet.name }}</a>
                            <span ng-if="!pet.isFavorite" ng-click="addToFavorites(pet)" class="btn-like right icon_heart_alt"></span>
                            <span ng-if="pet.isFavorite" ng-click="removeFromFavorites(pet)" class="btn-like right icon_heart"></span>
                            <p class="breed">{{pet.breed}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="friends">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <h4>Friends <span>( {{ friendsList.length }} )</span></h4>
                <ul class="no-bullet friends-list">
                    <li class="link" ng-repeat="friend in friendsList">
                        <a class="name">{{ friend.username }}</a>
                        <a ng-click="removeFromFriends(friend)" class="btn-remove right">Remove Friend</a>
                    </li>
                </ul>
            </div>
            <div class="small-12 medium-6 columns">
                <h4>Find Friends</h4>
                <ul class="no-bullet users-list">
                    <li class="link" ng-repeat="user in users">
                        <a class="name">{{ user.username }}</a>
                        <a ng-click="addToFriends(user)" class="btn-add right">Add Friend</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>